Source: qsampler
Section: contrib/sound
Priority: optional
Maintainer: LinuxSampler Developers <linuxsampler-devel@lists.sourceforge.net>
Build-Depends: debhelper (>= 11), cmake, pkg-config,
  qtchooser, qtbase5-dev (>= 5.1), qtbase5-dev-tools (>= 5.1),
  qttools5-dev (>= 5.1), qttools5-dev-tools (>= 5.1),
  libqt5svg5-dev, libqt5waylandclient5-dev | qtwayland5-dev-tools,
  liblscp-dev, libgig-dev (>= 3.3.0)
Standards-Version: 3.9.7

Package: qsampler
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LinuxSampler GUI frontend based on the Qt toolkit
  Qsampler is a LinuxSampler GUI front-end application written in C++ around
  the Qt framework using Qt Designer. At the moment it just wraps as a client
  reference interface for the LinuxSampler Control Protocol (LSCP).
