Source: qsampler
Section: sound
Priority: optional
Maintainer: Matt Flax <flatmax@pgb.unsw.edu.au>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5), automake, pkg-config, qtbase5-dev (>= 5.1),
  qtbase5-dev-tools (>= 5.1), qttools5-dev-tools (>= 5.1), qtchooser,
  liblscp-dev, libgig-dev (>= 3.3.0), libx11-dev, x11proto-core-dev

Package: qsampler
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LinuxSampler GUI frontend based on the Qt toolkit
  Qsampler is a LinuxSampler GUI front-end application written in C++ around
  the Qt framework using Qt Designer. At the moment it just wraps as a client
  reference interface for the LinuxSampler Control Protocol (LSCP).
