[Desktop Entry]
Name=Qsampler
Version=1.0
GenericName=LinuxSampler GUI
GenericName[fr]=Interface graphique pour LinuxSampler
Comment=Qsampler is a LinuxSampler Qt GUI Interface
Comment[fr]=Qsampler est une interface graphique Qt pour LinuxSampler
Exec=qsampler
Icon=qsampler
Categories=Audio;AudioVideo;Midi;X-Alsa;X-Jack;Qt;
Keywords=Audio;MIDI;ALSA;JACK;LinuxSampler;GigaSampler;SoundFont;Synthesizer;Sampler;GIG;SF2;SFZ;Qt;
Terminal=false
Type=Application
StartupWMClass=qsampler
X-Window-Icon=qsampler
X-SuSE-translate=true
